fabricdojotest/CD003_DP.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "PipelineRunTime",
          "value": {
            "value": "4",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set PipelineRunTime",
        "dependsOn": []
      },
      {
        "type": "Wait",
        "typeProperties": {
          "waitTimeInSeconds": {
            "value": "@variables('PipelineRunTime')",
            "type": "Expression"
          }
        },
        "name": "Wait1",
        "dependsOn": [
          {
            "activity": "Set PipelineRunTime",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "Sales",
                "table": "Orders"
              },
              "schema": [],
              "linkedService": {
                "name": "AD003_SecureWH",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "c6f21d61-18f6-4573-9e0c-3dc98e02a394",
                    "endpoint": "smsebpixa6eu7jlfhg64ucbcpm-ip6eb74zt7fu5hp4i4x4agmlzy.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "ff40fc43-9f99-4ecb-9dfc-472fc0198bce"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "applyVOrder": false,
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "schema": "",
                "table": "Sales_Orders"
              },
              "schema": [],
              "linkedService": {
                "name": "DojoDEVLHBronze",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "bb7a3ca0-1d7e-9f4d-4d20-9d955d1b375d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CopyFromDWToLH",
        "dependsOn": []
      }
    ],
    "parameters": {
      "MyParameter": {
        "type": "string",
        "defaultValue": "Hello"
      }
    },
    "variables": {
      "PipelineRunTime": {
        "type": "Integer"
      }
    },
    "concurrency": 24
  }
}